.nanos-card {
	color: white;
	width: 32%;
	display: inline-grid;
	min-height: 250px;
	position: relative;
	border: #ffffff3d 1px solid;
	margin: 0px 3px 12px;
	transition: transform .25s ease;
}

.nanos-card:visited {
	color: white;
}

@media only screen and (max-width: 1080px) {
	.nanos-card {
		width: 48%;
	}
}

@media only screen and (max-width: 820px) {
	.nanos-card {
		width: 100%;
	}
}

@media only screen and (max-width: 768px) {
	.nanos-card {
		width: 48%;
	}
}

@media only screen and (max-width: 500px) {
	.nanos-card {
		width: 100%;
	}
}

.nanos-card:hover, .nanos-card:active {
	color: white;
	box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.4);
	text-decoration: none;
	transform: scale(1.015);
}

.nanos-card img {
	margin: 0px !important;
	filter: brightness(0.5);
	height: 100px;
	width: 100%;
	object-fit: cover;
}

.nanos-card h4 {
	position: absolute;
	top: 25px;
	left: 25px;
	font-weight: bold;
}

.nanos-card p {
	margin: 25px;
	position: absolute;
	top: 100px;
}

.nanos-small-td-padding {
	padding: 0.2rem !important;
}

.server-only-label, .client-only-label, .client-read-only-label {
	width: 20px;
}